*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #2bb470;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: -20px; 
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -30%;
  }
  
  .failmsg {     
    position: absolute;
    height: 100px;
    width: 30%;
    background-color: aquamarine;
    text-align: center;
    padding-top: 10px;
    bottom: -30%;
  }
  
  .restartbutton {
    height: 50px;
    width: 150px;
    border: none;
    background-color: #87CEEB;
    color: rgb(255, 255, 255);
    box-shadow: -2px 3px 0 #294397, -4px 6px 0 #000;
  }

@keyframes pipe-animation {
    from {
        right:-550px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom:0;
    }
    40%{
        bottom:180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom:180px; 
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right:-550px;
    }
    to {
        right: 100%;
    }
}